@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300&display=swap");

.filter {
  /* font-family: 'Poppins', sans-serif; */
  font-family: "Roboto", sans-serif;
  /* display: flex;
  justify-content: space-around;
  background-color: cadetblue; */
}

.filter__header {
  display: flex;
  justify-content: space-between;
}

.filter__icons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  padding: 4px 8px;
  border: 1px solid #6f73d2;
  border-radius: 12px;
  color: #190041;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-weight: 500;
}

.filter__icons:hover {
  background-color: #e2e8f0;
}

.filter__border {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
}

.filter__data {
  width: 350px;
  border: 2px solid black;
  margin: 8px;
  border-radius: 12px;
  padding: 6px;
}

.popup__filter {
  text-align: right;
  position: absolute;
  top: 62px;
  right: 80px;
  z-index: 1;
  border: 2px solid;
  width: 450px;
  min-height: 124px;
  max-height: 500px;
  background-color: #ffffff;
  border: 1px solid lightblue;
  font-size: 14px;
  font-weight: 500;
  color: rgb(25, 0, 65);
  border-radius: 12px;
}
.buttonappend__none {
  display: none;
}

.filter__field > .filter__input {
  border: none;
}
.filter__input {
  border: 2px solid black;
  width: 228px;
  height: 34px;
  margin-top: 8px;
  border-radius: 3px;
}

.filter__select {
  height: 34px;
  position: relative;
  min-width: 53px;
  right: -33px;
  top: 4px;
  text-align: center;
}
.filter__inputdata {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 12px;
}

.filter__toggle__advance {
  display: flex;
  justify-content: space-between;
  position: static;
  margin-top: 31px;
  color: #414042;
  font-size: 14px;
  font-weight: 800;
  align-items: center;
  background-color: #fafafa;
}

.filter__toggle__switch {
  margin-left: 70px;
}

.filter__clear {
  background-color: #efefef;
  color: #190041;
  width: 100px;
  height: 32px;
  border-radius: 4px;
  border: none;
  position: relative;
  left: -13px;
}

.filter__apply {
  background-color: #6f73d2;
  color: #fafafa;
  width: 100px;
  height: 32px;
  border-radius: 4px;
  border: none;
  position: relative;
  left: -7px;
}

#filter__add {
  background-color: #fff;
  color: #6f73d2;
  border: 2px solid #dddddd;
  width: 80px;
  height: 30px;
}

/* .filter__delete {
  display: none !important ;
  color: #6f73d2;
} */

.disabledfilter__apply {
  background-color: #6f73d2;
  color: #fafafa;
  width: 100px;
  height: 32px;
  border-radius: 4px;
  border: none;
  position: relative;
  left: -7px;
  opacity: 0.5;
}
